<!DOCTYPE html>
  <html lang="en">
      <head>
          <meta charset="utf-8">
      </head>
          <body>
              <script id="personTemplate" type="text/template">
                <strong><%= name %></strong> (<%= age %>) - <%= occupation %>
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
              </script>
              <script src="scripts/underscore.js"></script>
              <script src="scripts/jquery-2.1.1.min.js"></script>
              <script src="scripts/backbone_1_0_0.js"></script>
              <script src="scripts/main.js"></script>
          </body>
  </html>
